html, body, h1, h2, h3, h4, h5, h6, blockquote, code {
	margin: 0;
	padding: 0;
}

body {
	font-family: "sans-serif", arial, verdana, georgia, helvetica
	font-size: 16px;
	line-height: 160%;
}

a {
	color: #3361d7;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	color: #2579ba;
	border-bottom: 2px solid #c7cdca;
	margin: 25px 5px 10px 5px;
}

h2 {
	font-size: larger;
	margin: 8px 2px;
	background: #2579ba;
	color: #fff;
	padding: 8px;
}

h2 em {
	font-size: small;
	font-style: normal;
	float: right;
	color: #f7fbb1;
}

h2 a {
	display: block;
	color: #fff;
	background: #2579ba;
}

.box {
	width: 300px;
	float: left;
}

h3 {
	
}

a.rounded, .button {
  outline: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  vertical-align: middle; /* or top */
  display: -moz-inline-box;
  display: inline-block;
  overflow: visible; /* IE6 form button fix */
  padding: 2px 4px;
  margin: 2px 0;
  border: 1px solid #e09;
  color: #333;
  background: #fe8;
  font-size: 12px;
}

a.rounded:hover {
	background: #5a7db1;
	color: #eef;
}

.button {
  color: #000;
  background-color: #acc;
  padding: 5px 7px;
}
.button:hover {
  background-color: #cee;
}

#toolbar {
	width: 90%;
	margin: 0 auto 10px auto;
	padding: 10px;
	color: #2579ba;
	text-transform: capitalize;
	background: #c7cdca;
}

#toolbar span {
	font-weight: bold;
}

#toolbar a {
	color: #2579ba;
	text-decoration: none;
}

#toolbar a:hover {
	text-decoration: underline;
}

#container {
	margin: 0 4px;
}
