- content_tag_for :div, section do
  %ul
    %li
      %strong Name:
      =h section.name
    = link_to 'Favorites', section_favorites_path(section)
    - unless section.root?
      = link_to 'Edit', edit_section_path(section)
      = link_to 'Destroy', section, :confirm => 'Are you sure?', :method => :delete
