- content_for(:head) do
  = stylesheet_link_tag 'bubble'

%h2 Listing sections
- if !@sections.empty?
  #sections
    - content_tag(:div, :id => "bubbles") do
      = bubbles_display(@sections)
- else
  %p There are no sections to show yet.
%hr.clear
= link_to 'New section', new_section_path
