%h1= t('site.title')

.accordion
  - @favorites.group_by(&:section).sort.each do |section, @favorites|
    %h3= link_to section.name, section
    - div_for(section) do  
      = render :partial => "sections/favorites"
